<div class="login-container">
  <h2>Enter email address and password</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <p *ngIf="loginError">{{loginError}}</p>
      <div class="col-md-12 form-group">
        <input placeholder="Enter your email" formControlName="email" class="form-control" required>
        <div *ngIf="!loginForm.controls.email.valid">Please enter valid email id</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <input matInput placeholder="Enter your password" type="password" class="form-control"
          formControlName="password" required>
        <div *ngIf="!loginForm.controls.password.valid">Please enter password</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 form-group">
        <button type="submit" class="btn btn-block btn-login">Submit</button>
      </div>
    </div>

  </form>
</div>
